/* styling swiper */
:root {
    --swiper-pagination-color: #fff;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-width: 6px;
    --swiper-pagination-bullet-height: 6px;
    --swiper-pagination-bullet-inactive-color: #fff;
    --swiper-pagination-bullet-inactive-opacity: 0.2;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 8px;
    --swiper-pagination-bullet-vertical-gap: 6px;
}

/* styling query swiper */
@media(max-width: 550px) {
    :root {
        --swiper-pagination-color: #fff;
        --swiper-pagination-bullet-size: 4px;
        --swiper-pagination-bullet-width: 4px;
        --swiper-pagination-bullet-height: 4px;
        --swiper-pagination-bullet-inactive-color: #fff;
        --swiper-pagination-bullet-inactive-opacity: 0.2;
        --swiper-pagination-bullet-opacity: 1;
        --swiper-pagination-bullet-horizontal-gap: 8px;
        --swiper-pagination-bullet-vertical-gap: 6px;
    }
}


* {
    color: var(--edna-dark-brown, #210803);
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: 150%;
}

h1 {
    color: var(--edna-brown, #2D1B0D);
    font-family: "Cormorant Garamond";
    font-size: 84px;
    font-style: normal;
    font-weight: 300;
    line-height: 62px;
    text-transform: uppercase;
}

h2 {
    color: var(--edna-brown, #2D1B0D);
    font-family: "Cormorant Garamond";
    font-size: 64px;
    font-style: normal;
    font-weight: 300;
    line-height: 62px;
    text-transform: uppercase;
}

h3,
.subtitle {
    color: var(--edna-dark-red, #B31719);
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}

h4 {
    color: var(--edna-dark-brown, #210803);
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

button {
    display: block;
    width: 197px;
    height: 48px;
    padding: 16px 72px;
    text-transform: uppercase;
    border: 0;
    background: var(--edna-dark-red, #B31719);
    color: var(--edna-light, #F6F5F1);
    cursor: pointer;
    transition: all .2s;
}

button:hover {
    background-color: var(--edna-dark-brown, #210803);
}

a {
    /* color: var(--edna-dark-beige, #8F7D65); */
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    letter-spacing: 0.24px;
}

a:hover {
    color: var(--edna-dark-red, #B31719);
}

span {
    font-size: inherit;
    color: inherit;
}

*[class*="__wrapper"] {
    max-width: 1300px;
    padding: 0 10px;
    margin: 0 auto;
}

*[class*="__container"] {
    padding: 80px 0;
    width: 100%;
}

.disable-scroll {
    height: 100%;
    overflow: hidden;
}

@media (max-width: 768px) {
    *[class*="__wrapper"] {
        padding-left: 0;
        padding-right: 0;
    }

    h2 {
        color: var(--edna-dark-brown, #210803);
        font-family: "Cormorant Garamond";
        font-size: 36px;
        font-style: normal;
        font-weight: 300;
        line-height: 38px;
        text-transform: uppercase;
        letter-spacing: -1px;
    }

    .content {
        padding: 0 16px;
    }
}